.formContainer {
  background-image: url("../../util/images/background.jpg");
  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  height: 100vh;
  color: white;
}
